/* * {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gemunu Libre", sans-serif;
  background-color: #9f9ee7;
}

.header {
  width: 100%;
  z-index: 1;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
}

.dataPeople,
.dataAlbum {
  margin-top: 180px;
}
 */

*{
  margin: 0;
  padding: 0;
  font-family: 'Arial', cursive;
}
.header{
  width: 100%;
  z-index: 1;
}
.headerStyle{
  color: #fb8ce5;
  height: 5rem;
  padding-bottom: 2rem;
}
.headerTitle{
  padding-top: 1rem;
}
.center{
  align-items: center;
  margin-left: 5rem;
}
.characterData{
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.cardStyle{
  background-color: #e2bef8;
  border: solid #e0ff67;
  border-radius: 20px;
}
